body{
 background: teal;
}

*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

.container {
 background: white;
 margin: auto;
 width: 50%;
 padding: 16px;
 box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2);
}